# SQL in Python for Beginners | Python Tutorial

- [SQL in Python for Beginners | Python Tutorial](https://www.youtube.com/watch?v=tXJtY51xHq8) - Code with Josh

In [1]:
import sqlite3

In [2]:
import sqlite3

# Step 1 - Setup / Initialize Database
def get_connection(db_name):
    try:
        return sqlite3.connect(db_name)
    except Exception as e:
        print(f"Error: {e}")
        raise

In [3]:
# Step 2 - Create a table in the Database
def create_table(connection):
    query = """
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            email TEXT UNIQUE
        )
    """
    
    try:
        with connection:
            connection.execute(query)
        print("Table was created")
    except Exception as e:
        print(f"Error: {e}")
        raise

In [4]:
# Step 3 - Add  a user to the table in the Database
def insert_user(connection, name:str, age:int, email:str):
    sql_statement = "INSERT INTO users (name, age, email) VALUES (?, ?, ?)"
    
    try:
        with connection:
            connection.execute(sql_statement, (name, age, email))
            print(f"User: {name} was added to the table users in the database")
    except Exception as e:
        print(f"Error: {e}")
        raise
    
# Step 3.1 - Add  multiple users to the table in the Database
def insert_users(connection, users:list[tuple[str, int, str]]):
    sql_statement = "INSERT INTO users (name, age, email) VALUES (?, ?, ?)"
    
    try:
        with connection:
            connection.executemany(sql_statement, users)       # executemany()
            print(f"{len(users)} users was added to the database")
    except Exception as e:
        print(f"Error: {e}")
        raise

In [5]:
# Step 4 - Query all users in the Database
def fetch_users(connection, condition:str=None) -> list[tuple]:
    sql_statement = "SELECT * FROM users"
    if condition:
        sql_statement += f"WHERE {condition}"
    
    try:
        with connection:
            rows = connection.execute(sql_statement).fetchall()
        return rows
    except Exception as e:
        print(f"Error: {e}")
        raise

In [6]:
# Step 5 - Delete a user in the Database
def delete_user(connection, user_id:int):
    sql_statement = "DELETE FROM users WHERE id = ?"
    
    try:
        with connection:
            connection.execute(sql_statement, (user_id,))
            print(f"User ID: {user_id} was deleted!")
    except Exception as e:
        print(f"Error: {e}")
        raise

In [7]:
# Step 6 - Updating and existing user in the Database
def update_user(connection, user_id:int, email:str):
    sql_statement = "UPDATE users SET email = ? WHERE id = ?"
    
    try:
        with connection:
            connection.execute(sql_statement, (email, user_id,))
        print(f"User ID: {user_id} has new email of {email}!")
    except Exception as e:
        print(f"Error: {e}")
        raise

In [8]:
def main():
    connection = get_connection("subscribe.db")
    
    try:
        # create my table
        create_table(connection)
        
        # Inser a user
        # insert_user(connection, "nareth4", 68, "nareth4@abc.com")
        
        # fetch all users
        ret_users = fetch_users(connection)
        for user in ret_users:
            print(user)
        
        # Delete a user
        user_id = int(2)
        delete_user(connection, user_id)

        # Update a user
        user_id = int(2)
        delete_user(connection, user_id)
        
        # Add many users
        users = [('Chandler', 29, 'friend@none.com'),
                 ('Trumam', 28, 'truman@none.com'),
                 ('Olga', 69, 'chandler@none.com'),
                 ]
        insert_users(connection, users)
        
        # fetch all users
        ret_users = fetch_users(connection)
        for user in ret_users:
            print(user)
       
    finally:
        connection.close()
        
if  __name__ == "__main__":
    main()

Table was created
(1, 'nareth2', 68, 'nareth2@abc.com')
(3, 'nareth4', 68, 'nareth4@abc.com')
(4, 'Chandler', 29, 'friend@none.com')
(5, 'Trumam', 28, 'truman@none.com')
(6, 'Olga', 69, 'chandler@none.com')
User ID: 2 was deleted!
User ID: 2 was deleted!
Error: UNIQUE constraint failed: users.email

IntegrityError: UNIQUE constraint failed: users.email